In [1]:
import numpy as np #linear algebra
import pandas as pd #data processing 
# step 1 get top line
from bs4 import BeautifulSoup as bs
import bs4
import requests as rq # get url
import re
from datetime import date, time, datetime

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', None)

# https://www.the-numbers.com/person/41500401-Robert-Downey-Jr#tab=acting

In [ ]:
Thecols

In [13]:
the_getString = 'https://www.the-numbers.com/person/41500401-Robert-Downey-Jr#tab=acting'
r=rq.get(the_getString)
# 'html.parser'
# p=bs(r.text,'lxml')
p=bs(r.text,'html.parser')

Thecols = []
Themovies = []

tbody=p.find("table", id="all_acting_credits")
trs = tbody.find_all("tr")
# print(tbody)
for tr in trs:
#     print(tr)
#     print("loop")
#     if tr.find_all("th"):
    ths = tr.find_all("th")
    for th in ths:
        Thecols.append(th.text)
#             print(th.text)
        Thecols = Thecols
    if dfmovies.empty:
        dfmovies = pd.DataFrame(columns=Thecols)

             
#     print()
#     print(tr)
    
    
    if tr.find_all("td"):
        tds = tr.find_all("td")
#         print(tds)

#         print(f' lend of td {len(tds)}')
        counter = 1
        
        for td in tds:
            if counter <len(tds):
#                 print(f' the counter = {counter}')
#                 print(td.text)
                if not td.text:
                    text = "NA"
                elif td.text:
                    text = td.text
#               print(text)  
                Themovies.append(text)
#                 print(f' the counter = {counter}')

            elif counter == len(tds):
                
#                 print("inside >6")
                counter = 0
#                 print(f' the LENGTH {len(Themovies)}')
                
                
                additionalColsToAdd = len(Thecols) - len(Themovies)
                
                if additionalColsToAdd == 1:
#                     print("appending1")
                    Themovies.append("NA")
                if additionalColsToAdd == 2:
#                     print("appending2")
                    Themovies.append("NA")
                    themovies.append("NA")
                
                
                if len(Themovies) == len(Thecols):
#                     print(Themovies)
#                     dfmovies.loc[len(dfmovies)] = ['Dec 22, 2021', 'Sing 2', 'Baxter', 'NA', 'NA', 'NA']
#                     themovies = ['Dec 22, 2021', 'Sing 2', 'Baxter', 'NA', 'NA', 'NA']
#                     res = dict(zip(Thecols, Themovies))
                    x = pd.Series(Themovies, index = dfmovies.columns)
#                   dfmovies = dfmovies.append(res, ignore_index=True)
#                     dfmovies = dfmovies.append(x, ignore_index=True)
                    dfmovies.loc[len(dfmovies)] = Themovies
#                     print(dfmovies)
                Themovies = []
            counter  = counter +1
#         print("loop next")
#           dfmovies["Actor"] =   
print(dfmovies)

      ReleaseDate                      Title                  Role DomesticBox Office InternationalBox Office WorldwideBox Office
0          Totals                         67                    NA     $6,096,333,638          $9,249,286,572                  NA
1    Dec 22, 2021                     Sing 2                Baxter                 NA                      NA                  NA
2    Dec 22, 2021          Sherlock Holmes 3       Sherlock Holmes                 NA                      NA                  NA
3     May 7, 2021                Black Widow   Tony Stark/Iron Man                 NA                      NA                  NA
4    Jan 17, 2020                   Dolittle  Doctor John Dolittle        $77,047,065            $172,057,791                  NA
5    Apr 26, 2019          Avengers: Endgame   Tony Stark/Iron Man       $858,373,000          $1,939,427,564                  NA
6    Apr 27, 2018     Avengers: Infinity War   Tony Stark/Iron Man       $678,815,482          $1,365,725,041                  NA
7     Jul 7, 2017     Spider-Man: Homecoming   Tony Stark/Iron Man       $334,201,140            $545,965,210                  NA
8     May 6, 2016    Captain America: Civil…   Tony Stark/Iron Man       $408,084,349            $743,834,172                  NA
9     May 1, 2015    Avengers: Age of Ultron  Tony Stark/Iron Man        $459,005,868            $937,093,334                  NA
10   Oct 10, 2014                  The Judge           Hank Palmer        $47,119,388             $28,954,168                  NA
11    May 9, 2014                       Chef  Inez's First Husband        $31,424,004             $15,405,305                  NA
12    May 3, 2013                 Iron Man 3   Tony Stark/Iron Man       $408,992,272            $806,400,000                  NA
13   Sep 19, 2012           Radio Unnameable               Himself            $24,090                      NA                  NA
14    May 4, 2012               The Avengers   Tony Stark/Iron Man       $623,357,910            $891,742,301                  NA
15   Dec 16, 2011    Sherlock Holmes: A Gam…       Sherlock Holmes       $186,848,418            $348,815,025                  NA
16    Nov 5, 2010                   Due Date        Peter Highman        $100,539,043            $111,200,000                  NA
17    May 7, 2010                 Iron Man 2            Tony Stark       $312,433,331            $308,723,058                  NA
18   Dec 25, 2009            Sherlock Holmes       Sherlock Holmes       $209,028,679            $289,409,533                  NA
19   Apr 24, 2009                The Soloist           Steve Lopez        $31,853,584              $6,668,866                  NA
20   Aug 13, 2008             Tropic Thunder          Kirk Lazarus       $110,515,313             $80,629,943                  NA
21   Jun 13, 2008        The Incredible Hulk            Tony Stark       $134,806,913            $130,766,946                  NA
22    May 2, 2008                   Iron Man   Tony Stark/Iron Man       $318,604,126            $266,567,421                  NA
23   Feb 22, 2008           Charlie Bartlett     Principal Gardner         $3,950,294              $1,345,615                  NA
24    May 4, 2007                  Lucky You        Telephone Jack         $5,755,286                $766,543                  NA
25    Mar 2, 2007                     Zodiac            Paul Avery        $33,080,084             $50,000,000                  NA
26   Nov 10, 2006    FUR: An Imaginary Port…        Lionel Sweeney           $223,202              $2,057,887                  NA
27   Sep 29, 2006    A Guide to Recognizing…                  Dito           $516,139              $1,611,255                  NA
28    Jul 7, 2006           A Scanner Darkly                Barris         $5,501,616              $1,903,468                  NA
29   Mar 10, 2006             The Shaggy Dog          Marcus Kozak        $61,123,569             $26,000,000                  NA
30   Mar 10, 2006                     Game 6      Steven Schwimmer           $129,664                      NA                  NA
31   Oct 21, 2005       Kiss Kiss, Bang Bang        Harry Lockhart         $4,235,837             $12,593,627                  NA
32    Oct 7, 2005  Good Night, and Good Luck           Joe Wershba        $31,501,218             $25,085,683                  NA
33    Apr 8, 2005                       Eros          Nick Penrose           $188,248              $1,347,437                  NA
34   Nov 21, 2003                    Gothika           Pete Graham        $59,588,068             $81,896,744                  NA
35   Oct 24, 2003      The Singing Detective              Dan Dark           $336,456                $188,291                  NA
36    Apr 5, 2000            Black and White                 Terry         $5,241,315                      NA                  NA
37   Feb 23, 2000                Wonder Boys        Terry Crabtree        $19,389,454             $14,033,031                  NA
38   Aug 13, 1999                  Bowfinger          Jerry Renfro        $66,458,769             $32,241,000                  NA
39   Apr 16, 1999         Friends and Lovers                  Hans           $100,111                      NA                  NA
40   Jan 15, 1999                  In Dreams         Vivian Thomas        $12,017,369                      NA                  NA
41   Apr 24, 1998        Two Girls and a Guy           Blake Allen         $2,057,193                $257,833                  NA
42    Mar 6, 1998              U.S. Marshals                 Royce        $57,833,603                      NA                  NA
43   Jan 23, 1998        The Gingerbread Man            Clyde Pell         $1,626,593                      NA                  NA
44   Dec 12, 1997                  Hugo Pool           Franz Mazur             $3,620                      NA                  NA
45   Nov 14, 1997            One Night Stand               Charlie         $2,642,718                      NA                  NA
46   Dec 29, 1995                Richard III                Rivers         $2,684,904              $1,514,430                  NA
47   Dec 29, 1995                Restoration               Merivel         $4,100,000                      NA                  NA
48    Nov 3, 1995      Home for the Holidays          Tommy Larson        $17,468,887              $4,650,382                  NA
49        Unknown                Hail Caesar                    NA                 NA                      NA                  NA
50    Oct 7, 1994                   Only You                Peter         $20,042,048                      NA                  NA
51   Aug 26, 1994       Natural Born Killers            Wayne Gale        $50,282,766                      NA                  NA
52    Oct 1, 1993                 Short Cuts             Bill Bush         $6,110,979                      NA                  NA
53   Aug 13, 1993            Heart and Souls         Thomas Reilly        $16,479,685                      NA                  NA
54   Dec 25, 1992                    Chaplin       Charlie Chaplin         $9,289,349                      NA                  NA
55   May 31, 1991                   Soapdish          David Barnes        $36,489,888                      NA                  NA
56   Aug 10, 1990                Air America                Billy         $30,506,847              $2,407,668                  NA
57   Mar 10, 1989                Chances Are            Alex Finch        $15,939,663                      NA                  NA
58   Feb 17, 1989              True Believer           Roger Baron         $8,742,000                      NA                  NA
59   Nov 18, 1988                       1969                 Ralph         $5,979,011                      NA                  NA
60   Mar 25, 1988             Johnny Be Good           Leo Wiggins        $17,500,399                      NA                  NA
61    Nov 6, 1987             Less than Zero          Julian Wells        $12,396,383                      NA                  NA
62   Sep 18, 1987         The Pick-Up Artist          Jack Jericho        $13,290,368                      NA                  NA
63   Jun 13, 1986             Back to School                 Derek        $91,258,000                      NA                  NA
64    Aug 2, 1985              Weird Science                   Ian        $16,316,258                      NA                  NA
65   Jan 11, 1985                  Tuff Turf          Jimmy Parker         $9,369,329                      NA                  NA
66   Oct 26, 1984                  Firstborn                   Lee         $6,200,000                      NA                  NA
67    Mar 4, 1983              Baby It's You               Stewart         $1,312,473                      NA                  NA
68       Averages                         NA                    NA        $96,767,201            $256,924,627                  NA
69         Totals                         67                    NA     $6,096,333,638          $9,249,286,572                  NA
70   Dec 22, 2021          Sherlock Holmes 3       Sherlock Holmes                 NA                      NA                  NA
71   Dec 22, 2021                     Sing 2                Baxter                 NA                      NA                  NA
72    May 7, 2021                Black Widow   Tony Stark/Iron Man                 NA                      NA                  NA
73   Jan 17, 2020                   Dolittle  Doctor John Dolittle        $77,047,065            $172,057,791                  NA
74   Apr 26, 2019          Avengers: Endgame   Tony Stark/Iron Man       $858,373,000          $1,939,427,564                  NA
75   Apr 27, 2018     Avengers: Infinity War   Tony Stark/Iron Man       $678,815,482          $1,365,725,041                  NA
76    Jul 7, 2017     Spider-Man: Homecoming   Tony Stark/Iron Man       $334,201,140            $545,965,210                  NA
77    May 6, 2016    Captain America: Civil…   Tony Stark/Iron Man       $408,084,349            $743,834,172                  NA
78    May 1, 2015    Avengers: Age of Ultron  Tony Stark/Iron Man        $459,005,868            $937,093,334                  NA
79   Oct 10, 2014                  The Judge           Hank Palmer        $47,119,388             $28,954,168                  NA
80    May 9, 2014                       Chef  Inez's First Husband        $31,424,004             $15,405,305                  NA
81    May 3, 2013                 Iron Man 3   Tony Stark/Iron Man       $408,992,272            $806,400,000                  NA
82   Sep 19, 2012           Radio Unnameable               Himself            $24,090                      NA                  NA
83    May 4, 2012               The Avengers   Tony Stark/Iron Man       $623,357,910            $891,742,301                  NA
84   Dec 16, 2011    Sherlock Holmes: A Gam…       Sherlock Holmes       $186,848,418            $348,815,025                  NA
85    Nov 5, 2010                   Due Date        Peter Highman        $100,539,043            $111,200,000                  NA
86    May 7, 2010                 Iron Man 2            Tony Stark       $312,433,331            $308,723,058                  NA
87   Dec 25, 2009            Sherlock Holmes       Sherlock Holmes       $209,028,679            $289,409,533                  NA
88   Apr 24, 2009                The Soloist           Steve Lopez        $31,853,584              $6,668,866                  NA
89   Aug 13, 2008             Tropic Thunder          Kirk Lazarus       $110,515,313             $80,629,943                  NA
90   Jun 13, 2008        The Incredible Hulk            Tony Stark       $134,806,913            $130,766,946                  NA
91    May 2, 2008                   Iron Man   Tony Stark/Iron Man       $318,604,126            $266,567,421                  NA
92   Feb 22, 2008           Charlie Bartlett     Principal Gardner         $3,950,294              $1,345,615                  NA
93    May 4, 2007                  Lucky You        Telephone Jack         $5,755,286                $766,543                  NA
94    Mar 2, 2007                     Zodiac            Paul Avery        $33,080,084             $50,000,000                  NA
95   Nov 10, 2006    FUR: An Imaginary Port…        Lionel Sweeney           $223,202              $2,057,887                  NA
96   Sep 29, 2006    A Guide to Recognizing…                  Dito           $516,139              $1,611,255                  NA
97    Jul 7, 2006           A Scanner Darkly                Barris         $5,501,616              $1,903,468                  NA
98   Mar 10, 2006             The Shaggy Dog          Marcus Kozak        $61,123,569             $26,000,000                  NA
99   Mar 10, 2006                     Game 6      Steven Schwimmer           $129,664                      NA                  NA
100  Oct 21, 2005       Kiss Kiss, Bang Bang        Harry Lockhart         $4,235,837             $12,593,627                  NA
101   Oct 7, 2005  Good Night, and Good Luck           Joe Wershba        $31,501,218             $25,085,683                  NA
102   Apr 8, 2005                       Eros          Nick Penrose           $188,248              $1,347,437                  NA
103  Nov 21, 2003                    Gothika           Pete Graham        $59,588,068             $81,896,744                  NA
104  Oct 24, 2003      The Singing Detective              Dan Dark           $336,456                $188,291                  NA
105   Apr 5, 2000            Black and White                 Terry         $5,241,315                      NA                  NA
106  Feb 23, 2000                Wonder Boys        Terry Crabtree        $19,389,454             $14,033,031                  NA
107  Aug 13, 1999                  Bowfinger          Jerry Renfro        $66,458,769             $32,241,000                  NA
108  Apr 16, 1999         Friends and Lovers                  Hans           $100,111                      NA                  NA
109  Jan 15, 1999                  In Dreams         Vivian Thomas        $12,017,369                      NA                  NA
110  Apr 24, 1998        Two Girls and a Guy           Blake Allen         $2,057,193                $257,833                  NA
111   Mar 6, 1998              U.S. Marshals                 Royce        $57,833,603                      NA                  NA
112  Jan 23, 1998        The Gingerbread Man            Clyde Pell         $1,626,593                      NA                  NA
113  Dec 12, 1997                  Hugo Pool           Franz Mazur             $3,620                      NA                  NA
114  Nov 14, 1997            One Night Stand               Charlie         $2,642,718                      NA                  NA
115  Dec 29, 1995                Restoration               Merivel         $4,100,000                      NA                  NA
116  Dec 29, 1995                Richard III                Rivers         $2,684,904              $1,514,430                  NA
117   Nov 3, 1995      Home for the Holidays          Tommy Larson        $17,468,887              $4,650,382                  NA
118       Unknown                Hail Caesar                    NA                 NA                      NA                  NA
119   Oct 7, 1994                   Only You                Peter         $20,042,048                      NA                  NA
120  Aug 26, 1994       Natural Born Killers            Wayne Gale        $50,282,766                      NA                  NA
121   Oct 1, 1993                 Short Cuts             Bill Bush         $6,110,979                      NA                  NA
122  Aug 13, 1993            Heart and Souls         Thomas Reilly        $16,479,685                      NA                  NA
123  Dec 25, 1992                    Chaplin       Charlie Chaplin         $9,289,349                      NA                  NA
124  May 31, 1991                   Soapdish          David Barnes        $36,489,888                      NA                  NA
125  Aug 10, 1990                Air America                Billy         $30,506,847              $2,407,668                  NA
126  Mar 10, 1989                Chances Are            Alex Finch        $15,939,663                      NA                  NA
127  Feb 17, 1989              True Believer           Roger Baron         $8,742,000                      NA                  NA
128  Nov 18, 1988                       1969                 Ralph         $5,979,011                      NA                  NA
129  Mar 25, 1988             Johnny Be Good           Leo Wiggins        $17,500,399                      NA                  NA
130   Nov 6, 1987             Less than Zero          Julian Wells        $12,396,383                      NA                  NA
131  Sep 18, 1987         The Pick-Up Artist          Jack Jericho        $13,290,368                      NA                  NA
132  Jun 13, 1986             Back to School                 Derek        $91,258,000                      NA                  NA
133   Aug 2, 1985              Weird Science                   Ian        $16,316,258                      NA                  NA
134  Jan 11, 1985                  Tuff Turf          Jimmy Parker         $9,369,329                      NA                  NA
135  Oct 26, 1984                  Firstborn                   Lee         $6,200,000                      NA                  NA
136   Mar 4, 1983              Baby It's You               Stewart         $1,312,473                      NA                  NA
137      Averages                         NA                    NA        $96,767,201            $256,924,627                  NA
138        Totals                         67                    NA     $6,096,333,638          $9,249,286,572                  NA
139  Dec 22, 2021                     Sing 2                Baxter                 NA                      NA                  NA
140  Dec 22, 2021          Sherlock Holmes 3       Sherlock Holmes                 NA                      NA                  NA
141   May 7, 2021                Black Widow   Tony Stark/Iron Man                 NA                      NA                  NA
142  Jan 17, 2020                   Dolittle  Doctor John Dolittle        $77,047,065            $172,057,791                  NA
143  Apr 26, 2019          Avengers: Endgame   Tony Stark/Iron Man       $858,373,000          $1,939,427,564                  NA
144  Apr 27, 2018     Avengers: Infinity War   Tony Stark/Iron Man       $678,815,482          $1,365,725,041                  NA
145   Jul 7, 2017     Spider-Man: Homecoming   Tony Stark/Iron Man       $334,201,140            $545,965,210                  NA
146   May 6, 2016    Captain America: Civil…   Tony Stark/Iron Man       $408,084,349            $743,834,172                  NA
147   May 1, 2015    Avengers: Age of Ultron  Tony Stark/Iron Man        $459,005,868            $937,093,334                  NA
148  Oct 10, 2014                  The Judge           Hank Palmer        $47,119,388             $28,954,168                  NA
149   May 9, 2014                       Chef  Inez's First Husband        $31,424,004             $15,405,305                  NA
150   May 3, 2013                 Iron Man 3   Tony Stark/Iron Man       $408,992,272            $806,400,000                  NA
151  Sep 19, 2012           Radio Unnameable               Himself            $24,090                      NA                  NA

In [ ]:
Thecols

In [ ]:
['1Dec 22, 2021', '2Sing 2', '3Baxter', '4NA', '5NA'
 '1ReleaseDate','2Title','3Role','4DomesticBox Office','5InternationalBox Office','6WorldwideBox Office']

In [ ]:
for allCol2Div in allCol2Divs:
#     print(allCol2Div)
    if allCol2Div.find(style="font-size:200%;"):
        bigtext = allCol2Div.find_all(style="font-size:200%;")
#         print(f'BIGTEXT = {bigtext}')
        for anchor in bigtext:
            if anchor.name =="span":
                thename = anchor.get_text()
                TheNamestitleslist.append(thename)
#                 print(f'the Name = {thename}')
                thehref = anchor.find("a")
                theURL = thehref.get("href")
                TheURLlist.append(theURL)
#                 print (f' THe href =  {theURL}')
            if anchor.name =="div":
                theAmount = anchor.get_text()
                TheAmountlist.append(theAmount)
#                 print (f' THe amount =  {theAmount}')
    
    if allCol2Div.find(itemprop="jobTitle"):
        jobTitles = allCol2Div.find(itemprop="jobTitle")
        for jobTitle in jobTitles:
#             the_jobTitle = jobTitle.text()
            jobtitleslist.append(jobTitle)
#         print(f'Job Title {jobTitle.get_text()}')
#         print(jobTitle)
    
    if allCol2Div.find_all("a", href=re.compile("on-this-day")):
        bornOns = allCol2Div.find("a", href=re.compile("on-this-day"))
        for bornon in bornOns:
            #print(bornon)
            TheBornOnlist.append(str(bornon))
#         for bornon in bornOns:
#             bornonDate = bornOn
#             print(bornonDate)
#         jobTitles = allCol2Div.find(itemprop="jobTitle")
#         for jobTitle in jobTitles:
# #             the_jobTitle = jobTitle.text()
#             jobtitleslist.append(jobTitle)
# #         print(f'Job Title {jobTitle.get_text()}')
# #         print(jobTitle)
    

    
dfjobTitles = pd.DataFrame(jobtitleslist,columns=["PrimaryTitle"])
# print(dfjobTitles)
dfNames = pd.DataFrame(TheNamestitleslist,columns=["Name"])
# print(dfNames)
dfURL = pd.DataFrame(TheURLlist,columns=["URL"])
# print(dfURL)
dfAmount = pd.DataFrame(TheAmountlist,columns=["Amount"])
# print(dfAmount)

dfjBornOn = pd.DataFrame(TheBornOnlist,columns=["BornOn"])
# print(dfjobTitles)

DFBankaability = pd.concat([dfjobTitles, dfNames, dfURL,dfAmount, dfjBornOn], axis=1, sort=False)

DFBankaability["BornOnDateType"] = pd.to_datetime(DFBankaability['BornOn'])
DFBankaability["NameBorn"] = DFBankaability.apply(lambda row: (row.Name) + (row.BornOnDateType.strftime('%Y').strip()), axis=1)